<div class='card'>
    <div class='card-header'>
        {{title}}
    </div>
    <div class='card-body'>
        <table class='table'>
            <Thead>
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
            </Thead>
            <tbody>
                <tr *ngFor='let claim of claims'>
                    <td>{{claim.type}}</td>
                    <td>{{claim.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>