<div class='card'>
    <div class='card-header'>
        {{title}}
    </div>
    <div class='card-body'>
        <div *ngIf='claims === null'>
            <small>{{errorMessage}}</small>
            <button (click)='getClaims()'>Hit Api</button>
        </div>
        <table class='table' *ngIf='claims !== null'>
            <Thead>
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
            </Thead>
            <tbody>
                <tr *ngFor='let claim of claims'>
                    <td>{{claim.type}}</td>
                    <td>{{claim.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>